{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Bitbucket Pipeline Deployment plugin for Craft CMS 3.x
 *
 * Bitbucket Pipeline Deployment index.twig
 *
 * @author    Colin Tracy
 * @copyright Copyright (c) 2020 Colin Tracy
 * @link      https://www.colintracy.com
 * @package   BitbucketPipelineDeployment
 * @since     0.1.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("aisleng\\bitbucketpipelinedeployment\\assetbundles\\bitbucketpipelinedeployment\\BitbucketPipelineDeploymentAsset") %}
{% do view.registerAssetBundle("aisleng\\bitbucketpipelinedeployment\\assetbundles\\indexcpsection\\IndexCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/truecolintracy/bitbucket-pipeline-deployment/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Bitbucket Pipeline Deployment" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('bitbucket-pipeline-deployment') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@aisleng/bitbucketpipelinedeployment/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}" class="btn submit add icon">{{ "Click Me!"|t('bitbucket-pipeline-deployment') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Index CP Section body goes here"|t('bitbucket-pipeline-deployment') }}</h2>
    <img src="{{ iconUrl }}" height="64" width="64" />
    <p class="textline"></p>
{% endset %}
